# Install PyTorch manually based on your CUDA version:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

faiss==1.12.0
joblib==1.4.2
numpy==1.26.4
openai==2.6.0
pandas==1.5.3
Pillow==11.2.1
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.6.1
tqdm==4.65.0
transformers==4.51.3

