pillow==11.3.0
wandb==0.19.0
modelscope==1.28.0
fonttools==4.59.0
networkx==3.4.2
dill==0.3.8
Jinja2==3.1.6
ipykernel==6.29.5
pipreqs==0.5.0
botocore==1.39.7
kiwisolver==1.4.8
gitdb==4.0.12
fastjsonschema==2.21.1
httpcore==1.0.9
h11==0.16.0
comm==0.2.2
wcwidth==0.2.13
yarg==0.1.9
pexpect==4.9.0
charset-normalizer==3.4.2
beautifulsoup4==4.13.4
cycler==0.12.1
setproctitle==1.3.6
hf-xet==1.1.5
scipy==1.15.3
boto3==1.39.7
pydantic_core==2.33.2
rpds-py==0.26.0
swanlab==0.6.6
transformers==4.53.2
safetensors==0.5.3
pyarrow==20.0.0
markdown-it-py==3.0.0
nvidia-cufile-cu12==1.11.1.6
propcache==0.3.2
triton==3.2.0
nvidia-cusparse-cu12==12.3.1.170
filelock==3.18.0
soupsieve==2.7
jsonschema==4.25.0
nvidia-nccl-cu12==2.21.5
wheel==0.45.1
nvidia-cuda-nvrtc-cu12==12.4.127
jsonschema-specifications==2025.4.1
nvidia-curand-cu12==10.3.5.147
multidict==6.6.3
nvidia-cudnn-cu12==9.1.0.70
nvidia-cusolver-cu12==11.6.1.9
docker-pycreds==0.4.0
MarkupSafe==3.0.2
pandas==1.5.3
tlparse==0.3.30
tqdm==4.67.1
nvidia-cufft-cu12==11.2.1.3
docopt==0.6.2
torchvision==0.21.0
mdurl==0.1.2
fastrlock==0.8.3
nest_asyncio==1.6.0
einops==0.8.0
prettytable==3.16.0
idna==3.10
Pygments==2.19.2
numpy==1.24.3
jmespath==1.0.1
protobuf==5.29.5
psutil==7.0.0
psutil==5.9.1
typing_extensions==4.14.1
multiprocess==0.70.16
webencodings==0.5.1
aiosignal==1.4.0
defusedxml==0.7.1
pickleshare==0.7.5
nvidia-ml-py==12.575.51
nvidia-nvtx-cu12==12.4.127
httpx==0.28.1
scikit-learn==1.7.0
matplotlib-inline==0.1.7
distro==1.9.0
pydantic==2.11.7
referencing==0.36.2
tinycss2==1.4.0
bleach==6.2.0
prompt_toolkit==3.0.51
GitPython==3.1.44
mistune==3.1.3
peft==0.16.0
packaging==25.0
nvidia-nvjitlink-cu12==12.4.127
regex==2024.11.6
jedi==0.19.2
nbconvert==7.16.6
nvidia-cusparselt-cu12==0.6.2
openai==1.97.0
nvidia-cuda-cupti-cu12==12.4.127
jiter==0.10.0
jiter==0.6.1
platformdirs==4.3.8
simplejson==3.20.1
tokenizers==0.21.2
click==8.2.1
attrs==25.3.0
ipython==8.12.3
entrypoints==0.4
matplotlib==3.10.3
aiohttp==3.12.14
PyYAML==6.0.2
python-dateutil==2.9.0.post0
stack_data==0.6.3
pyzmq==26.2.0
certifi==2025.7.14
torch-geometric==2.6.1
executing==2.2.0
asttokens==3.0.0
tornado==6.1
torchaudio==2.7.1
gin-config==0.5.0
debugpy==1.8.11
ptyprocess==0.7.0
nbclient==0.10.2
backcall==0.2.0
hpack==4.1.0
typing-inspection==0.4.1
sniffio==1.3.1
requests==2.32.4
nvidia-cuda-runtime-cu12==12.4.127
async-timeout==5.0.1
h2==4.2.0
sentry-sdk==2.33.0
nvidia-cublas-cu12==12.4.5.8
parso==0.8.4
pandocfilters==1.5.1
annotated-types==0.7.0
pip==25.1
yarl==1.20.1
faiss-gpu==1.7.2
sympy==1.13.1
pyecharts==2.0.8
pynvml==12.0.0
pure_eval==0.2.3
torch==2.6.0
pyparsing==3.2.3
decorator==5.2.1
pytz==2025.2
six==1.17.0
rich==13.9.4
smmap==5.0.2
frozenlist==1.7.0
hyperframe==6.1.0
mpmath==1.3.0
swankit==0.2.4
seaborn==0.13.2
polars==1.9.0
joblib==1.5.1
accelerate==1.9.0
anyio==4.9.0
fsspec==2025.3.0
urllib3==2.5.0
xxhash==3.5.0
threadpoolctl==3.6.0
aiohappyeyeballs==2.6.1
exceptiongroup==1.3.0
wrapt==1.17.2
jupyter-client==7.3.4
huggingface-hub==0.33.4
setuptools==78.1.1
jupyter_core==5.8.1
nbformat==5.10.4
traitlets==5.14.3
s3transfer==0.13.0
cupy-cuda11x==13.5.1
sentence-transformers==3.3.1
tiktoken==0.9.0
datasets==4.0.0
contourpy==1.3.2
jupyterlab_pygments==0.3.0
colorama==0.4.6
jaraco.collections==5.1.0
typing_extensions==4.12.2
tomli==2.0.1
wheel==0.45.1
autocommand==2.2.2
platformdirs==4.2.2
backports.tarfile==1.2.0
jaraco.functools==4.0.1
more-itertools==10.3.0
typeguard==4.3.0
importlib_metadata==8.0.0
packaging==24.2
inflect==7.3.1
zipp==3.19.2
jaraco.text==3.12.1
jaraco.context==5.3.0
